
.axis path,
.axis line{
fill: none;
stroke: black;
stroke-width: 5px;
}
.axis text{
font-family: sans-serif;
font-size: : 11px;



}
#miniCloud {
    position: relative;
    left: 200px;
    top: 120px;
}
#Event{

left: 130px;
top: 512px;

font-size:  22px;
}
#pizza{


left: 85px;
top: 140px;

font-size:  22px;

}


#EmotionTrend{

left: 600px;
top: 160px;
font-size:  24px;
}

.tick line{
fill: none;
stroke: blue;
opacity: 0.2;
stroke-width: 1;
}

.tag{
  position: absolute;

display: none;
font-family: sans-serif;

}

#header{

  position: absolute;
  top: 35px;
}

#chart-line{
  position: absolute;
  top: 250px;
  left:350px;
}

#EmotionDim{
position: absolute;
top:200px;

}
#miniCloud{
position: absolute;
top:550px;
left:10px;
}

